<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>
    <h3>Student Registration Form</h3><br>

    <form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
        First Name: <input type="text" th:field="*{firstName}"><br>
        Last Name: <input type="text" th:field="*{lastName}"><br>
        <br><br>
        Country:
        <select th:field="*{country}">
            <option th:each="country : ${countries}" th:value="${country}" th:text="${country}"></option>
        </select>
        <br><br>
        Favorite Programming Language:
        <input type="radio" th:field="*{favoriteLanguage}"
               th:each="language : ${languages}"
               th:value="${language}"
               th:text="${language}" />
        <br><br>
        Favorite Operating Systems:
        <input type="checkbox" th:field="*{favoriteSystems}"
            th:each="system : ${operationsSystems}"
            th:value="${system}"
            th:text="${system}" />
        <br><br>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>